<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TDB">
    <title>TEST</title>
</head>

<body class="blog-body">
<div class="container">
    {% block content %}
        {% for i in items %}
            {{ i }}
        {% endfor %}
        <br />
        <p>Model:</p>
        {{ model }}
        <br />
        <p>Matrix:</p>
        {{ matrix }}
        <br />
        <p>Report:</p>
        {{ report }}
        <br />
        <p>Figure:</p>
{% if graph != '' %} <img src="{{ graph }}" alt="some_text"> {% endif %}
    {% endblock %}
</div>
</body>
</html>